doctype html
html(lang='en')
  head(role='header')
    title= helpers.formatMetaTitle(title, currentLocale.code)
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=translate('metaDescription', currentLocale.code))
    meta(name='twitter:card' content=translate('metaTwitterCard', currentLocale.code))
    meta(property='og:title' content=helpers.formatMetaTitle(title, currentLocale.code))
    meta(property='og:type' content='article')
    meta(property='og:url' content=`http://contentful-example-app.herokuapp.com${currentPath}`)
    meta(property='og:image' content='http://contentful-example-app.herokuapp.com/og-image.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='1200')
    meta(property='og:image:alt' content=translate('metaImageAlt', currentLocale.code))
    meta(property='og:description' content=translate('metaImageDescription', currentLocale.code))
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#4a90e2')
    meta(name='theme-color' content='#ffffff')
  body
    main.main(role='main')
      .main__header
        header.header(role='banner')
          .header__lower-wrapper
            .header__lower.layout-centered
              .header__logo
                a.header__logo-link(href=`/${queryString}`)
                  h3 Demo Node App
              nav.header__navigation.main-navigation(role='navigation')
                ul
                  li
                    a(href=`/${queryString}` class=(currentPath === '/'? 'active' : '')) #{translate('homeLabel', currentLocale.code)}
                  li
                    a(href=`/courses${queryString}` class=(currentPath.startsWith('/courses') ? 'active' : '') ) #{translate('coursesLabel', currentLocale.code)}
      .main__content
        block content
  section.modal#about-this-modal
    .modal__overlay.close
    .modal__wrapper
      h1.modal__title= translate("modalTitle", currentLocale.code)
      .modal__content
        p
          | #{translate("modalIntro", currentLocale.code)}&nbsp;
          a(href="https://github.com/contentful/the-example-app.nodejs" target="_blank" rel="noopener") Github
          | .
        p
          | #{translate("modalSpaceIntro", currentLocale.code)}&nbsp;
          a(href="https://github.com/contentful/content-models/blob/master/the-example-app/README.md " target="_blank" rel="noopener") #{translate("modalSpaceLinkLabel", currentLocale.code)}
          | .
        p= translate("modalPlatforms", currentLocale.code)
        ul
          li
            img(src='/images/icon-nodejs.svg')
            br
            a(href=`https://the-example-app-nodejs.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.nodejs" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-dotnet.svg')
            br
            a(href=`https://the-example-app-csharp.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.csharp" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-ruby.svg')
            br
            a(href=`https://the-example-app-rb.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.rb" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-php.svg')
            br
            a(href=`https://the-example-app-php.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.php" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-python.svg')
            br
            a(href=`https://the-example-app-py.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.py" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-swift.svg')
            br
            a(href=`https://itunes.apple.com/app/contentful-reference/id1333721890` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.swift" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-java.svg')
            br
            a(href=`https://the-example-app-java.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.java" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-android.svg')
            a(href=`https://play.google.com/store/apps/details?id=com.contentful.tea.kotlin` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.kotlin" rel="noopener" target="_blank") GitHub
      .modal__cta-wrapper
        a.modal__cta.close(href="#")= translate("modalCTALabel", currentLocale.code)
      .modal__close-wrapper
        a.modal__close-button.close(href="#")
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#cross")

  script(src='/scripts/index.js')

  if process.env.TRACKING
    include ./tracking.pug
